.sidebar-wrapper {
  background-color: gray;
  width: 250px;
  height: 100vh;
  position: relative;
  padding: 10px;
}
.stack-items {
  padding-top: 10px;
}
.sidebar-icon {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  &:hover {
    background-color: lightgray;
  }
}

#item1,
#item2,
#item3 {
  padding-top: 5px;
}
